.popupOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popupContent {
    background: #fff;
    border-radius: 1rem;
    max-width: 75rem;
    width: 93%;
    box-shadow: 0 .4rem .8rem rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;

    animation: slideIn 0.3s ease-in-out;

    .Popup_selectCv_ApplyJob_header {
        background: #4fafee;
        padding: 2rem;

        h2 {
            font-size: 1.8rem;
            text-align: left;
            color: #fff;
        }
    }


    .closeButton {
        position: absolute;
        top: 1rem;
        right: 1rem;
        background: none;
        border: none;
        font-size: 1.5rem;
        color: #666;
        cursor: pointer;
    }

    .wrapper_option {
        padding: 2rem;

        h3 {
            font-size: 1.6rem;
            text-transform: none;
            color: #333;
            text-align: left;
        }

        .options {
            max-height: 46rem;
            overflow: auto;

            .option {
                position: relative;
                padding: 2rem;
                border: .1rem solid var(--border);
                border-radius: 1rem;
                margin-bottom: 1.5rem;
                overflow: hidden;
                margin-top: 1rem;
                margin-right: 1rem;


                label {
                    font-size: 1.4rem;
                    margin-left: .5rem;
                    font-weight: var(--weight500);
                }

                &:last-child {
                    margin-bottom: 0;
                }

                .content_history {
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                    gap: .5rem;
                    margin: 1rem 0 0 1rem;
                    color: var(--textBlur);

                    p {
                        font-size: 1.3rem;
                    }
                }

                .CV_default {
                    position: absolute;
                    top: 0;
                    right: 0;
                    padding: .5rem 1rem;
                    background: var(--viewDetails);
                    color: var(--colorWhiteText);
                    border-bottom-left-radius: 1rem;
                }

                input {
                    cursor: pointer;
                }
            }

            .letter_introductions {
                text-align: left;
                margin-top: 2rem;
                border-top: .1rem dashed var(--border);
                padding-top: 1.5rem;

                h4 {
                    font-size: 1.4rem;
                }

                p {
                    max-width: 62rem;
                    width: 95%;
                    margin-top: .7rem;
                    font-size: 1.3rem;
                    color: #888;
                    line-height: 1.5;
                }

                textarea {
                    margin-top: 1rem;
                    padding: 1.5rem;
                    width: 99%;
                    height: 15rem;
                    border: .1rem solid var(--hoverBoxBd);
                    font-size: 1.4rem;
                    border-radius: 1rem;

                    &::placeholder {
                        font-size: 1.3rem;
                    }
                }
            }

            .warning_note {
                margin-top: 2rem;
                border-top: .1rem dashed var(--border);
                padding-top: 1.5rem;
                margin-right: 1rem;
                text-align: left;

                h4 {
                    font-size: 1.4rem;
                    color: red;
                }

                p {
                    line-height: 1.6;
                    font-size: 1.3rem;
                    padding: .5rem 0;

                    svg {
                        color: red;
                        border: none !important;
                        padding: none !important;
                    }
                    
                    a {
                        color: var(--viewDetails);
                    }
                }
            }
        }
    }

    .Popup_selectCv_ApplyJob_footers {
        padding: 2rem;

        .payButton {
            background: #67a9fa;
            color: #fff;
            border: none;
            padding: 1.1rem 2.5rem;
            border-radius: 0.5rem;
            font-size: 1.4rem;
            cursor: pointer;
            width: 100%;
            transition: background 0.3s;

            &:hover {
                background: #247fee;
            }
        }
    }


}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}