
@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(5rem);
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideUp {
    from {
        transform: translateY(0);
        opacity: 1;
    }

    to {
        transform: translateY(-100%);
        opacity: 0;
    }
}

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9 !important;
}

.modalContent {
    position: relative;
    margin-top: 7rem;
    background: var(--bg-White);
    padding: 2.5rem;
    border-radius: .8rem;
    max-width: 125rem;
    width: 90%;
    box-shadow: 0 .4rem .6rem rgba(0, 0, 0, 0.1);
    transform: translateY(-100%);
    opacity: 0;
    animation: slideDown 0.35s ease-out forwards;

    .postion_img1 {
        position: absolute;
        top: 0;
        right: 0;
        overflow: hidden;
    }

    .postion_img2 {
        position: absolute;
        bottom: 0;
        overflow: hidden;
        left: 0;
    }

    &.closing {
        animation: slideUp 0.35s ease-out forwards;
    }

    h3 {
        font-size: 1.9rem;
        margin-bottom: 1rem;
    }

    .introduction_jobmarket {
        max-width: 100rem;
        width: 100%;
        margin: auto;
        padding: 2rem;
        line-height: 1.4;
        text-align: center;
        align-items: center;

        h1 {
            font-size: 4.5rem;

            p {
                color: #0277a3;
                text-transform: uppercase;
            }

            // svg {
            //    font-size: 2.7rem;
            //    color: var(--viewDetails);
            // }
        }


    }

    .form {
        max-width: 75rem;
        width: 100%;
        margin: auto;
        padding: 2rem;
        background: var(--bg-White);
        border-radius: 1rem;

        .flex_phoneNumber {
            display: flex;
            flex-wrap: wrap;
            flex: 1 1 32rem;
            gap: 1rem;
            margin-top: -.8rem;

            .box_national {
                flex: 1 1 8rem;
            }

            .box_phoneNumber {
                flex: 1 1 16rem;
            }

            .box_national,
            .box_phoneNumber {
                padding: .9rem 0;
                width: 100%;
                border-radius: .5rem;
                font-size: 1.3rem;

                .input_box {
                    width: 100%;
                    margin: 1.5rem 0;

                    label {
                        &::before {
                            content: "*";
                            color: rgb(220, 54, 46);
                            margin-right: .5rem;
                            font-size: 2rem;
                            margin-top: .5rem;
                        }

                        display: block;
                        font-size: 1.4rem;
                    }

                    input {
                        margin-top: .8rem;
                        padding: 1.1rem 1.5rem;
                        border: .1rem solid var(--border);
                        width: 100%;
                        border-radius: .5rem;
                        font-size: 1.4rem;

                        &:focus {
                            border-color: #4646ff;
                            border: .2rem solid #4646ff;
                        }
                    }

                    .selectNational {
                        padding: .9rem 0;
                        width: 100%;
                        border-radius: .5rem;
                        font-size: 1.3rem;

                        div {
                            font-size: 1.4rem;
                            cursor: pointer;
                        }
                    }
                }
            }
        }

        .box {
            flex: 1 1 32rem;

            .input_box {
                width: 100%;
                margin: 1.5rem 0;

                label {
                    &::before {
                        content: "*";
                        color: rgb(220, 54, 46);
                        margin-right: .5rem;
                        font-size: 2rem;
                        margin-top: .5rem;
                    }

                    display: block;
                    font-size: 1.4rem;
                }

                input {
                    margin-top: .8rem;
                    padding: 1.1rem 1.5rem;
                    border: .1rem solid var(--border);
                    width: 100%;
                    border-radius: .5rem;
                    font-size: 1.4rem;

                    &:focus {
                        border-color: #4646ff;
                        border: .2rem solid #4646ff;
                    }
                }

                .region,
                .districts {
                    font-size: 1.4rem;
                }

                .selectExperience,
                .jobTitle,
                .selectGender,
                .selectDegree,
                .selectNational {
                    padding: .9rem 0;
                    width: 100%;
                    border-radius: .5rem;
                    font-size: 1.3rem;
                    z-index: 999 !important;

                    div {
                        font-size: 1.4rem;
                        cursor: pointer;
                        z-index: 999 !important;
                    }
                }
            }
        }
    }

    .modalActions {
        float: right;
        display: flex;
        gap: 2rem;
        margin-top: 4rem;

        .closeButton {
            border: none;
            font-size: 1.4rem;
            cursor: pointer;
            background: #e1e3e8;
            border-radius: .5rem;
            padding: 1rem 2rem;
        }

        .saveButton {
            width: 100%;
            padding: 1rem 1.5rem;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: .5rem;
            font-size: 1.4rem;
            cursor: pointer;
        }
    }
}